/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 2.4rem;
}
h2 {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
}
p {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    margin-top: 0.5%;
}
button {
    display: flex;
    /* justify-self: center; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    font-size: 1rem;
}
.vsHolder {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    width: 20%;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.matchupHeaders {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    background-color: rgba(100,100,100,.25) ;
}